<div class="card" style="width: 18rem;">
  <div class = 'card-header'>
    Product : {{prd_idx}}
  </div>
    <img class="card-img-top" src={{product.img}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Title : {{product.title}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price : {{product.price}}$</li>
      <li class="list-group-item">Company : {{product.company}}</li>
    </ul>
  </div>
